---
import GridDragLayout from "../components/GridDragLayout";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="px-4 mt-6 pb-12 md:px-0 md:mt-16">
    <GridDragLayout client:load />
  </main>
</Layout>

